@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  background-color: #dedede;
}
h1 {
  font-size: 5vw;
  width: 30%;
  font-family: 'Montserrat';
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
p {
}
