body {
    background-color: #EAEAEA;
  }
  h1 {
    size: "font-size:10vw" ;
    color: #dedede;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #bdbdbd, 
                 -20px -20px 60px #ffffff;
  }
  p {
    color: red;
  }

