@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  background-color: #dedede;
}
h1 {
  font-size: 3vw;
  width: max-content;
  font-family: "Montserrat";
  color: #3f3f3f;
}

.p1{
  font-size: 1.5vw;
  width: max-content;
  font-family: "Montserrat";
  color: #3f3f3f;

}