body {
    background-color: #8f8c8c;
  }
  h1 {
    font-size:5vw  ;
    color: #dedede;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #bdbdbd, 
                 -20px -20px 60px #ffffff;
  }
  p {
    color: red;
  }

